.followed-user-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 16px;
   border: 1px solid #e0e0e0;
   border-radius: 12px;
   background-color: #8e908926;
   width: 160px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
   transition: transform 0.2s ease;
}

.followed-user-card:hover {
   transform: translateY(-2px);
}

.followed-user-pfp {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 12px;
}

.followed-user-info {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 16px;
}

.review-count {
   font-size: 0.9rem;
   color: #666;
}

.follow-button {
   padding: 6px 20px;
   border-radius: 20px;
   border: 1px solid #8e908966;
   background-color: #8e908966;
   color: black;
   font-weight: 600;
   cursor: pointer;
   transition: all 0.2s ease;
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 6px;
   width: 100%;
}

.follow-button svg {
   display: block;
}

.follow-button.following {
   background-color: #8e908966;
   color: black;
}

.follow-button:hover {
   opacity: 0.9;
}
