.restaurant-card {
   width: 300px;
   border-radius: 12px;
   overflow: hidden;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   background-color: #f4f4f4;
   transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
   cursor: pointer;
}

.restaurant-card:hover {
   transform: translateY(-4px);
   box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.restaurant-image-wrapper {
   position: relative;
   width: 100%;
   height: 180px;
   overflow: hidden;
}

.restaurant-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.restaurant-content {
   padding: 16px;
}

.restaurant-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   margin-bottom: 8px;
   padding: 0 1vw;
}

.restaurant-name-rating {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.restaurant-name {
   font-size: 1.1rem;
   margin: 0;
}

.restaurant-rating {
   font-weight: 600;
}

.restaurant-tags {
   display: flex;
   flex-wrap: wrap;
   gap: 6px;
   margin-bottom: 10px;
}

.tag {
   background-color: #f1f1f1;
   padding: 4px 8px;
   border-radius: 999px;
   font-size: 0.75rem;
}


.star {
   font-size: 18px;
   color: #e4e3d3;
}

.star.filled {
   color: #f2c75c;
}

.star.half {
   background: linear-gradient(
      90deg,
      #f2c75c 50%,
      #e4e3d3 50%
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
}

.bookmark-button {
   background: none;
   border: none;
   padding: 10px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;

   opacity: 0;
   pointer-events: none;

   transition:
      opacity 0.15s ease,
      transform 0.15s ease,
      filter 0.2s ease,
      color 0.2s ease;
}

.bookmark-button svg {
   width: 22px;
   height: 22px;
}

.restaurant-card:hover .bookmark-button {
   opacity: 1;
   pointer-events: auto;
}

.restaurant-card:hover .bookmark-button:not(.bookmarked) {
   color: #b0b0b0;
   filter: drop-shadow(0 0 4px rgba(176, 176, 176, 0.6));
}

.bookmark-button.bookmarked {
   opacity: 1;
   pointer-events: auto;
   color: #f2c75c;
}

.restaurant-card:hover .bookmark-button.bookmarked {
   filter: drop-shadow(0 0 6px rgba(242, 199, 92, 0.7));
}

.bookmark-button:hover {
   transform: scale(1.1);
}
