@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

.logo {
   font-family: "Poppins", sans-serif;
   font-style: normal;
   font-size: 32px;
   line-height: 150%;
   text-align: center;
   vertical-align: middle;
}

.logo-u {
   color: #a4d65e;
}

.logo-mami {
   color: #154734;
}
