.gallery-page {
   background-color: #e9e6db;
   min-height: 100vh;
   font-family: "Poppins", sans-serif;
}

.hero-section {
   height: 300px;
   background-image: url("../assets/shakesmart_header.png");
   background-size: cover;
   background-position: center;
   position: relative;
}

.hero-overlay {
   position: absolute;
   bottom: 40px;
   left: 40px;
   color: rgb(7, 7, 7);
}

.hero-overlay h1 {
   font-size: 48px;
   margin: 0;
}

.hero-overlay p {
   font-size: 24px;
   margin-top: 5px;
}

.tabs {
   display: flex;
   justify-content: center;
   background: #584f4f;
}

.tab {
   flex: 1;
   padding: 15px;
   border: none;
   background: #ddd;
   font-size: 18px;
   cursor: pointer;
}

.tab.active {
   background: rgb(0, 0, 0);
   font-weight: bold;
}

.section {
   padding: 40px 80px;
}

.section h2 {
   margin-bottom: 30px;
}

.image-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
}

.image-grid img {
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 6px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
   transition: transform 0.2s ease;
}

.image-grid img:hover {
   transform: scale(1.03);
}
