@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
html,
body {
   margin: 0;
   padding: 0;
   height: 100vh;
   overflow: hidden;
}

:root {
   --primary-gray: #8e9089;
   --light-gray-bg: #8e908926;
   --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   --standard-gap: 20px;
}

.user-page {
   margin: 0;
   font-family: "Poppins", sans-serif;
   min-height: 100vh;
   width: 100vw;
   background: linear-gradient(#f5f5f2, #e4e3d3);
   overflow: hidden;
}

.user-header,
.user-content,
.user-list-items,
.restaurant-list,
.following-header {
   display: flex;
   flex-direction: row;
}

.user-header {
   padding: 0 20px;
   height: 80px;
   align-items: center;
   justify-content: space-between;
   border-bottom: gray solid 3px;
}

.user-content {
   gap: 40px;
   height: calc(100vh - 80px);
   overflow: hidden;
}

.user-info {
   display: flex;
   flex-direction: column;
   width: 20vw;
   padding: 20px;
}

.card,
.review-card {
   background-color: var(--light-gray-bg);
   box-shadow: var(--card-shadow);
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 40vh;
   gap: 2vh;
   padding: 4vh 2vw;
   border-radius: 2vw;
}


.edit-icons,
.navigation-links a {
   color: var(--primary-gray);
}

.navigation-links a {
   display: block;
   padding: 10px 0;
   text-decoration: none;
   border-bottom: 1px solid var(--primary-gray);
}

.navigation-links a:last-child {
   border-bottom: none;
}

.user-activity {
   flex: 1;
   height: 100%;
   overflow-y: auto;
   padding-right: 10px;
   font-size: 24px;
   color: #333;
}

.activity-header {
   margin-bottom: 20px;
   font-size: 20px;
   color: black;
}

.restaurants,
.restaurant-list,
.user-list-items {
   gap: var(--standard-gap);
}

.restaurants {
   display: flex;
   flex-direction: column;
}

.user-profile-picture,
.verified-badge {
   border-radius: 50%;
   flex-shrink: 0;
}

.user-profile-picture {
   width: 60px;
   height: 60px;
   object-fit: cover;
}

.following-header {
   align-items: center;
   gap: 10px;
   width: 100%;
}

.following-header h5 {
   margin: 0;
}
.following-header svg {
   display: block;
}
