.user-page {
   margin: 0;
   min-height: 100vh;
   min-width: 100vw;
   background: linear-gradient(#f5f5f2, #e4e3d3);
}

.user-page .user-header {
   border-bottom: gray solid 3px;
   flex-direction: column;
}
