html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   overscroll-behavior: none;
}

:root {
   font-family:
      Poppins, system-ui, Avenir, Helvetica, Arial,
      sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light;
   color: #333;
   background-color: #e4e3d3;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
